* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body,
p,
span {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Rubik", sans-serif;
}

img {
    max-width: 100%;
}

.grybg {
    background: #f9fafb;
}



/* main-header */

.main-header .container-fluid,
.slider-section .container-fluid {
    max-width: 1480px;
}

body .btn-primary {
    background-color: #e43b3d !important;
    padding: 10px 35px;
    border-color: #e43b3d;
    position: relative;
    z-index: 1;
}

body .btn-primary:hover {
    border-color: #111;
}

body .btn-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .5s;
}

body .btn-primary:hover::after {
    width: 100%;
    
}


/* menu */


ul.primary-menu {}

ul.primary-menu li {}

ul.primary-menu li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0px 20px;
    font-weight: 500;
}

ul.primary-menu li a:hover {}

.header-info {}

.header-search {
    width: 50px;
    text-align: center;
    border-right: 1px solid #7777;
    margin-right: 10px;
    font-size: 1.2rem;
}

.header-call {
    width: 200px;
}

.header-icon {
    font-size: 1.88rem;
    color: #ec6465;
}

.header-con span {
    color: #777;
}

.header-con a {
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.header-button {}


/* slider-section */

.slider-section {
    background: url(img/main-banner2.jpg) no-repeat top center fixed;
    background-size: cover;

}

.slider-content-wrap {
    display: flex;
    height: 830px;
    align-items: center;
    position: relative;
}

.slider-content {}

.slider-content h6 {
    color: #e43b3d;
    font-size: 1.1rem;
}

.slider-content h1 {
    font-size: 4.2rem;
    margin-top: 29px;
    margin-bottom: 20px;
}

.slider-content p {
    font-size: 1.11rem;
    color: #606060;
    margin-bottom: 40px;
    max-width: 640px;
    line-height: 2.1rem;
}

.slider-social {
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider-social ul {
    list-style: none;
    margin-left: -21px;
}

.slider-social ul li {}

.slider-social ul li span {
    margin-right: 44px;
    position: relative;
}

.slider-social ul li span::before {
    content: "";
    position: absolute;
    left: 75px;
    top: 10px;
    width: 31px;
    height: 1px;
    background-color: #111;
}

.slider-social ul li a {
    display: block;
    padding: 0 10px;
    color: #111;
    transition: .4s;
}

.slider-social ul li a:hover {
    color: #e43b3d;
}



/* logo-slider-section */
.logo-section {
    border-bottom: 1px solid #7d7d7d;
}

.client-logo {
    overflow: hidden;
    padding: 80px 0;
    white-space: nowrap;
}

.logo {
    display: inline-block;
    animation: 20s logo infinite linear;
}

.logo img {
    height: 30px;
    margin: 0 50px;
}

.client-logo:hover .logo {
    animation-play-state: paused;
    cursor: pointer;
}

@keyframes logo {
    form {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}



/* about-section */
.about-section {
    padding: 80px 0;
}

.about-image {
    position: relative;
}

.about-img-text {
    position: absolute;
    right: 60px;
    bottom: 0px;
    background: url(img/shape.png) no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    background-position: center;
    justify-content: center;
}

.about-tex-con h2 {
    font-size: 3rem;
    color: #e73c3e;
}

.about-tex-con p {
    font-weight: 800;
}


.about-text {}

.finix-text h6 {
    color: #e73c3e;
    font-weight: 400;
    margin-bottom: 20px;
}

.finix-text h2 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.finix-text p {
    font-weight: 400;
    line-height: 1.9rem;
    color: #777;
}

.finix-text strong {
    color: #7d7d7d;
    font-weight: 500;
    font-size: 1.1rem;
}

.finix-text ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.finix-text ul li {
    padding: 5px 0;
}

.finix-text ul li::before {
    content: "\f00c";
    font-family: 'Font Awesome 7 Free';
    font-weight: 600;
    color: #e73c3e;
    margin-right: 15px;
    display: inline-block;
}




/* why-choose-us */
.why-choose-us {
    padding: 90px 0;
}

.feature-item {
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: .6s;
}

.feature-item:hover {
    transform: translateY(-15px);
}

.feature-item::before {
    content: "";
    position: absolute;
    top: -145px;
    left: 0;
    right: 0px;
    background: #fdebeb;
    width: 90%;
    height: 70%;
    margin: auto;
    border-radius: 50%;
}

.feature-icon {
    height: 90px;
    width: 90px;
    margin: auto;
    background: #fff;
    line-height: 90px;
    border-radius: 50%;
    position: relative;
    transition: .4s;
}

.feature-item:hover .feature-icon {
    background-color: #e43b3d;
}

.feature-icon img {
    width: 40px;
    height: 40px;
}

.mtop5 {
    margin-top: -50px;
}


.finix-text{
    position: relative;
}
.primary-button {
    width: 90px;
    height: 90px;
    display: inline-block;
    background: #fff;
    font-size: 3.5rem;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    bottom: 35px; 
    color: #e43b3d;
    transition: .5s;
}

.primary-button:hover{
    background-color: #e43b3d;
    color: #fff;
}

.primary-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: #e73c3e;
    border-radius: 50%;
    animation: playbtn 1.9s ease-out infinite;
}

@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
   
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}




/* .Founding-loans */
.Founding-title .finix-text{}
.Founding-title .finix-text h2{
    font-weight: 500;
}
.Founding-title .finix-text p{
    max-width: 600px;
    margin: auto;
}
.Founding-text{
    margin-top: 80px;
}
.Founding-con{
    margin-bottom: 50px;
}
.Founding-con h2{
    font-size: 2.2rem;
    line-height: 3.2rem;
    font-weight: 400;
}
.Founding-item{}
.Founding-item ul{
    list-style: none;
    position: relative;
    margin-left: 37px;
}
.Founding-item ul::before{
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 1px;
    height: calc( 100% - 100px);
    background: #e43b3d;
    margin-left: -17px;
}
.Founding-item ul li{
    position: relative;
}
.Founding-item ul li::before{
    content: attr(data-counter);
    position: absolute;
    left: -69px;
    top: 4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #e43b3d;
    text-align: center;
}
.Founding-item ul li strong{
    display: block;
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.Founding-item ul li p{
    margin-bottom: 25px;
    line-height: 1.8rem;
    color: #606060;
}

.Calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
    margin-top: 50px;
}
.calculate-title{
    margin-bottom: 40px;
}
.calculate-title h6{
    font-weight: 400;
    color: #606060;
}
.calculate-title h2{}

.calculate-form .form-group{
    margin-bottom: 20px;
}
.calculate-form .form-group label{
    margin-bottom: 10px;
}
.calculate-form .form-group input{
    display: block;
    box-shadow: none;
    padding: 14px 15px;
    border: none;
    border-radius: 0;
}
.calculate-form .form-group select{
    height: 53px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
}



/* business-call */
.business-Call{
    padding: 20px;
}
.business-call-item{
    background: #e43b3d;
    padding: 60px;
    color: #fff;
    padding-bottom: 40px;
    border-radius: 5px;
}
.business-call-text{
}
.business-call-text h2{
    font-size: 2.0rem;
    line-height: 2.9rem;
    font-weight: 400;
    border-right: 1px solid #ddd;
    margin-left: 20px;
}
.business-contact{}
.business-contact span{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    border-radius: 50%;
    color: red;
    font-size: 2.3rem;
    margin-top: 10px;
    text-align: center;
    margin-right: 70px;
}
.business-contact a{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 25px;
    font-weight: 700;
}

/* .company-values */
.company-values{
    margin-top: 80px;
}
.company-title{}
.company-title h3{
    font-size: 2.4rem;
    margin-bottom: 55px;
}
.company-item{}
.company-item .values-logo{
    font-size: 2.2rem;
    color: #e43b3d;
    margin-right: 25px;
    margin-top: -4px;
}
.company-item .values-con{}
.company-item .values-con h4{}
.company-item .values-con p{
    font-size: 0.99rem;
    line-height: 1.7rem;
    color: #606060;
}

.company-img{
    margin-top: 50px;
}

/* professional services */
.professional-services{
    overflow: hidden;
}

ul.professional-item{
    padding-bottom: 28px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 50px !important;
}
ul.professional-item li{
    flex: 1 1 0;
    
}
ul.professional-item li a.active span i{
    color: #e43b3d;
}
ul.professional-item li a.active{
    position: relative;
    
    
}
ul.professional-item li a.active::before{
    content: "";
    position: absolute;
    top:163px;
    left: 0;
    width: 223px;
    height: 1px;
    background-color: #e43b3d;
    
}

ul.professional-item li a span i{
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    border-radius: 50%;
    font-size: 2.2rem;
    text-align: center;
    color: #606060;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    margin-bottom: 10px;
}
ul.professional-item li a strong{
    font-size: 1.2rem;
    color: #000;
}


.professional-tab-text{}
.professional-con{}
.professional-con h3{
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.professional-con p{
    line-height: 1.6rem;
    color: #606060;
    margin-bottom: 15px;
}
.professional-con  ul {
    list-style: none;
    padding-left: 0;
}
.professional-con  ul  li{
    padding: 6px 0;
}
.professional-con ul li::before{
    content: "";
    background-color: #e43b3d;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}


/* testimonial-section */
.testimonial{}
.testimonial-title{
    margin-bottom: 60px;
}
.testimonial-title p{
    max-width: 570px;
    margin: auto;
}

.testimonial-content{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.testimonial-datails {}
.testimonial-datails h5{
    font-size: 1rem;
    color: #e43b3d;
}
.testimonial-datails p{color: #7d7d7d;font-weight: 500;}
.client-image{}
.client-image img{}




/* team-section */
.team-section{}
.team-section .finix-text p{
    max-width: 570px;
    margin: auto;
}
.team-section .finix-text {
   margin-bottom: 50px;
}

.team-member{}
.member-image{
    position: relative;
    margin-bottom: 30px;
}
.member-image img{
    width: 100%;
    height: auto;
}
.member-social-icon{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.member-social-icon ul {
    list-style: none;
    padding-left: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.member-social-icon ul li {
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}
.member-image:hover .member-social-icon ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-image .member-social-icon ul li:nth-child(1){
    transition-delay: .2s;
}
.member-image .member-social-icon ul li:nth-child(2){
    transition-delay: .3s;
}
.member-image .member-social-icon ul li:nth-child(3){
    transition-delay: .4s;
}
.member-image .member-social-icon ul li:nth-child(4){
    transition-delay: .5s;
}
.member-social-icon ul li a{
    display: block;
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #ffff;
    border-radius: 50%;
    color: #000;
    transition: .4s;
}
.member-social-icon ul li a:hover{
    background-color: #e43b3d;
    color: #ffff;
}
.member-content{}
.member-content h5{
    color: #e43b3d;
}
.member-content p{
    font-weight: 500;
    color: #7d7d7d;
}



/* blog-section */

.blog-content h6{
    font-size: 0.9rem;
    color: #e43b3d;
}
.blog-content h2{
    margin: 17px 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.blog-content p{
    font-weight: 500;
    transition: .5s;
}

.blog-content p:hover{
    letter-spacing: 0.1rem;
    color: #e73c3e;
}


/* footer-section */


.finix-footer {
  background: linear-gradient(180deg, #0b0b0b, #000);
}

.logo-icon {

  color: #fff;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}

.footer-title {
  color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.footer-title::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #e50914;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #e50914;
  padding-left: 5px;
}

.social a {
  color: #fff;
  margin-right: 12px;
  font-size: 16px;
  transition: 0.3s;
}

.social a:hover {
  color: #e50914;
}

.footer-contact {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-contact i {
  color: #e50914;
  margin-top: 4px;
}

.footer-bottom {
  border-top: 1px solid #222;
  color: #888;
  font-size: 14px;
}

.footer-bottom span {
  color: #fff;
}
